<!--Forgot Password Starts-->
<section id="forgot-password">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card">
                  <div style="padding-top: 0.5rem; background-color: #d63230; box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);">
                    <div class="col-12 text-center">
                      <img alt="element 06" class="mb-1" src="../../../../assets/img/logos/logo-highland.png" style="width: 15%">
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="card-block" style="background-color:#456aaa; border-color:#456aaa; box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);">
                      <div class="text-center pt-1">
                          <h2 style="color:white; font-weight:bold;">{{translates.titles.forgotPassword|translate}}</h2>
                      </div>
                      <form class="pt-1" (ngSubmit)="onSubmit()" #f="ngForm">
                          <div class="form-group">
                              <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Your Email Address" ngModel>
                          </div>
                          <div class="form-group">
                              <div class="text-center mt-3">
                                  <button type="submit" class="btn btn-block btn-raised" style="background-color:#d63230; color:white">{{translates.buttons.send|translate}}</button>
                              </div>
                          </div>
                      </form>
                    </div>
                    <div style="text-align: center;" *ngIf="validEmail && emailSend">
                      <label class="label-control modal-label" style="color: red; margin-left: 1rem; margin-right: 1rem; text-align: center">{{translates.messages.validEmail|translate}}</label>
                    </div>
                    <div style="text-align: center;" *ngIf="!validEmail && emailSend">
                      <label class="label-control modal-label" style="color: red; margin-left: 1rem; margin-right: 1rem; text-align: center">{{translates.messages.invalidEmail|translate}}</label>
                    </div>
                    <div class="card-footer bg-blue-grey bg-darken-3" style="box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);">
                        <div class="float-left white"><a (click)="onLogin()">Login</a></div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Forgot Password Ends-->
