<!--Recovery Password Starts-->
<section id="recovery-password">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card">
                    <div class="card-body">
                      <div class="card-block" style="background-color:#FEDD32; border-color: #FEDD32; box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);">
                        <div class="card-img overlap text-center">
                          <img alt="element 06" class="mb-1" src="../../../../assets/img/disensamain.png" style="width: 50% ">
                        </div>
                        <div class="text-center pt-1">
                            <h2 style="color:white; font-weight:bold;">{{translates.recoveryPassword.title|translate}}</h2>
                        </div>
                        <form class="pt-1" (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="validToken">
                            <div class="form-group">
                              <label *ngIf="error.inputNewPass" class="" style="color: red; margin-left: 1rem;">{{translates.recoveryPassword.error.inputNewPass|translate}}</label>
                              <label *ngIf="error.length" class="" style="color: red; margin-left: 1rem;">{{translates.recoveryPassword.error.length|translate}}</label>
                              <input type="password" class="form-control" name="inputNewPass" id="inputNewPass" placeholder="New password" ngModel required
                                     (keyup)="validatePasswordLength()">
                            </div>
                            <div class="form-group">
                              <label *ngIf="error.inputNewPassBis" class="" style="color: red; margin-left: 1rem;">{{translates.recoveryPassword.error.inputNewPassBis|translate}}</label>
                              <label *ngIf="error.equals" class="" style="color: red; margin-left: 1rem;">{{translates.recoveryPassword.error.equals|translate}}</label>
                              <input type="password" class="form-control" name="inputNewPassBis" id="inputNewPassBis" placeholder="Re entry new password" ngModel required
                                [disabled]="error.length">
                            </div>
                            <div class="form-group">
                                <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-danger btn-raised btn-block">{{translates.recoveryPassword.button.send|translate}}</button>
                                </div>
                            </div>
                        </form>
                        <div style="text-align: center;" *ngIf="!validToken">
                            <div>
                              <label class="label-control modal-label">{{translates.recoveryPassword.invalidTokenMessage|translate}}</label>
                            </div>
                            <div>
                              <label class="label-control modal-label">{{translates.recoveryPassword.invalidTokenMessage1|translate}}:
                                <a (click)="onForgotPassword()" style="color: blue;">{{translates.login.links.forgotPassword|translate}}</a></label>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Recovery Password Ends-->
